html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
/* Header  */
.navbar{
    background-color: #000000 !important;
}
/* Section Login */
.tela-login{
    height: calc(100vh - 56px);
    width: 100%;
    color: whitesmoke;
    background-image: url('../assets/background_login.png') !important;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #000000;
}
/* Buttons */
.btn-danger{
    background-color: #E50914 !important;
}